<ion-tabs>
  <ion-tab-bar dir="auto" slot="bottom">
    <ion-tab-button tab="salle">
      <ion-icon name="home"></ion-icon>
      <ion-label>Salles</ion-label>
      <ion-badge>1</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="poste">
      <ion-icon name="desktop"></ion-icon>
      <ion-label>Postes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
